@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/helvetica-neue-medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/helvetica-neue-regular.woff2") format("woff2");
  font-display: swap;
}
