// Screen width
$desktop: 1600px;
$tablet: 1280px;
$phone: 390px;

// Colors

$white: #fff;
$black: #202020;
$gray: #7b7b7b;
$light-gray2: #e5e5e5;
$light-gray: #f4f4f4;
$green: #5bce89;
$red: #f4371c;

$font-family: "Helvetica Neue", "Arial", sans-serif;
